<img src="img/Recurso-26.png" width="200">

## TERCER MODULO -  Estructuras de datos, +Pandas

![logo](img/python_logo.png)

*Steven Chuiza*

In [29]:
import pandas as pd
import numpy as np

### Operaciones en Pandas

#### Busqueda

In [30]:
rand_matrix = np.random.randint(6,size=(2,3))
frame = pd.DataFrame(rand_matrix , columns=list('ABC'))
display(frame)

   A  B  C
0  3  3  2
1  4  1  3

In [31]:
# buscando columnas (DataFrame como dic, busca en claves)
'A' in frame

True

In [32]:
# buscando valores
display(frame.isin([3,2])) # --> mask de respuesta (valores que son 3 o 2)

       A      B     C
0   True   True  True
1  False  False  True

In [33]:
#Contar el número de ocurrencias
print(frame.isin([4]).values.sum())
display(frame.isin([4])) #devuelve una mask con valores true si el elemento es 4
print(frame.isin([4]).values)
type(frame.isin([4]).values) # pandas es una capa alrededor de numpy

1

       A      B      C
0  False  False  False
1   True  False  False

[[False False False]
 [ True False False]]

numpy.ndarray

In [34]:
# Cuántos valores son >= 2
mask = frame >= 2
print(mask.values.sum())
display(mask)

5

      A      B     C
0  True   True  True
1  True  False  True

#### Ordenacion

In [35]:
from random import shuffle
rand_matrix = np.random.randint(20,size=(5,4))
indices = list(range(5))
shuffle(indices) # mezcla indices
frame = pd.DataFrame(rand_matrix , columns=list('DACB'), index=indices)
display(frame)

    D   A   C   B
0   8  19   7   0
4  16  18   6   3
3  11  11  18  15
2  14  16   4  10
1   3  17   9   6

In [36]:
# ordenar por índice
display(frame.sort_index(ascending=False))
display(frame)

    D   A   C   B
4  16  18   6   3
3  11  11  18  15
2  14  16   4  10
1   3  17   9   6
0   8  19   7   0

    D   A   C   B
0   8  19   7   0
4  16  18   6   3
3  11  11  18  15
2  14  16   4  10
1   3  17   9   6

In [37]:
#ordenar por columna
display(frame.sort_index(axis=1, ascending=False))

    D   C   B   A
0   8   7   0  19
4  16   6   3  18
3  11  18  15  11
2  14   4  10  16
1   3   9   6  17

In [38]:
# ordenar filas por valor en columna
display(frame.sort_values(by='A', ascending=True))

    D   A   C   B
3  11  11  18  15
2  14  16   4  10
1   3  17   9   6
4  16  18   6   3
0   8  19   7   0

In [39]:
# ordenar columnas por valor en fila
display(frame.sort_values(by=1, axis=1, ascending=True))

    D   B   C   A
0   8   0   7  19
4  16   3   6  18
3  11  15  18  11
2  14  10   4  16
1   3   6   9  17

In [40]:
# ordenar por valor en columna y guardar cambios
frame.sort_values(by='A', ascending=False, inplace=True)
display(frame)

    D   A   C   B
0   8  19   7   0
4  16  18   6   3
1   3  17   9   6
2  14  16   4  10
3  11  11  18  15

#### Ranking
* Construir un ranking de valores

In [41]:
display(frame)

    D   A   C   B
0   8  19   7   0
4  16  18   6   3
1   3  17   9   6
2  14  16   4  10
3  11  11  18  15

In [42]:
display(frame.rank(method='max', axis=1))

     D    A    C    B
0  3.0  4.0  2.0  1.0
4  3.0  4.0  2.0  1.0
1  1.0  4.0  3.0  2.0
2  3.0  4.0  1.0  2.0
3  2.0  2.0  4.0  3.0

In [43]:
# Imprimir, uno a uno, los valores de la columna 'C' de mayor a menor
for x in frame.sort_values(by='C', ascending=False)['C'].values:
    print(x)

18
9
7
6
4

#### Operaciones

Operaciones matemáticas entre objetos

In [44]:
matrixA = np.random.randint(100,size=(4,4))
matrixB = np.random.randint(100,size=(4,4))
frameA = pd.DataFrame(matrixA)
frameB = pd.DataFrame(matrixB)
display(frameA)
display(frameB)

    0   1   2   3
0  43  63  23   3
1  30  14  74  78
2  65  15  13  83
3  16  22  45  52

    0   1   2   3
0  45  18  59  82
1  80  24  90  72
2  74  99  40  21
3   1   4  88  55

In [45]:
# a través de métodos u operadores
display(frameA + frameB == frameA.add(frameB))
display(frameA + frameB)

      0     1     2     3
0  True  True  True  True
1  True  True  True  True
2  True  True  True  True
3  True  True  True  True

     0    1    2    3
0   88   81   82   85
1  110   38  164  150
2  139  114   53  104
3   17   26  133  107

In [46]:
display(frameB - frameA == frameB.sub(frameA))
display(frameB - frameA)

      0     1     2     3
0  True  True  True  True
1  True  True  True  True
2  True  True  True  True
3  True  True  True  True

    0   1   2   3
0   2 -45  36  79
1  50  10  16  -6
2   9  84  27 -62
3 -15 -18  43   3

In [47]:
# si los frames no son iguales, valor por defecto NaN
frameC = pd.DataFrame(np.random.randint(100,size=(3,3)))
display(frameA)
display(frameC)
display(frameC + frameA)

    0   1   2   3
0  43  63  23   3
1  30  14  74  78
2  65  15  13  83
3  16  22  45  52

    0   1   2
0  16  91  40
1  16  22  84
2  62  67  93

       0      1      2   3
0   59.0  154.0   63.0 NaN
1   46.0   36.0  158.0 NaN
2  127.0   82.0  106.0 NaN
3    NaN    NaN    NaN NaN

In [48]:
# se puede especificar el valor por defecto con el argumento fill_value
display(frameA.add(frameC, fill_value=0))

       0      1      2     3
0   59.0  154.0   63.0   3.0
1   46.0   36.0  158.0  78.0
2  127.0   82.0  106.0  83.0
3   16.0   22.0   45.0  52.0

Operadores aritméticos solo válidos en elementos aceptables

In [49]:
frameD = pd.DataFrame({0: ['a','b'],1:['d','f']})
display(frameD)
frameA - frameD

   0  1
0  a  d
1  b  f

TypeError: unsupported operand type(s) for -: 'int' and 'str'

Operaciones entre Series y DataFrames

In [50]:
rand_matrix = np.random.randint(10, size=(3, 4))
df = pd.DataFrame(rand_matrix , columns=list('ABCD'))
display(df)
display(df.iloc[0])
display(type(df.iloc[0]))
# uso común, averiguar la diferencia entre una fila y el resto
display(df - df.iloc[0])
display(df.sub(df.iloc[0], axis=1))
# Por columnas cómo se restaría
display(df.sub(df['A'], axis=0))

   A  B  C  D
0  0  1  7  7
1  8  1  5  6
2  9  1  2  0

A    0
B    1
C    7
D    7
Name: 0, dtype: int32

pandas.core.series.Series

   A  B  C  D
0  0  0  0  0
1  8  0 -2 -1
2  9  0 -5 -7

   A  B  C  D
0  0  0  0  0
1  8  0 -2 -1
2  9  0 -5 -7

   A  B  C  D
0  0  1  7  7
1  0 -7 -3 -2
2  0 -8 -7 -9

Pandas se basa en NumPy, np operadores binarios y unarios son aceptables

Aplicación de funciones a medida con lambda

In [51]:
rand_matrix = np.random.randint(10, size=(3, 4))
frame = pd.DataFrame(rand_matrix , columns=list('ABCD'))
display(frame)
print(frame.apply(lambda x : x.max() - x.min(), axis = 1))

   A  B  C  D
0  3  9  6  3
1  6  4  2  5
2  8  3  4  2

0    6
1    4
2    6
dtype: int64

In [52]:
def max_min(x):
    return x.max() - x.min()
print(frame.apply(max_min, axis = 0)) # diferencia por columna

A    5
B    6
C    4
D    3
dtype: int64

In [53]:
# diferencia entre min y max por fila (no columna)
rand_matrix = np.random.randint(10, size=(3, 4))
frame = pd.DataFrame(rand_matrix , columns=list('ABCD'))
display(frame)
print(frame.apply(lambda x : x.max() - x.min(), axis = 1))

   A  B  C  D
0  2  2  0  5
1  3  6  0  6
2  2  3  1  0

0    5
1    6
2    3
dtype: int64

### Estadistica Descriptiva

* Análisis preliminar de los datos
* Para Series y DataFrame

In [56]:
diccionario = { "nombre" : ["Marisa","Laura","Manuel", "Carlos"], "edad" : [34,34,11,30],
               "puntos" : [98,12,98,np.nan], "genero": ["F", "F", "M", "M"] }
frame = pd.DataFrame(diccionario)
display(frame)
display(frame.describe()) # datos generales de elementos

   nombre  edad  puntos genero
0  Marisa    34    98.0      F
1   Laura    34    12.0      F
2  Manuel    11    98.0      M
3  Carlos    30     NaN      M

            edad     puntos
count   4.000000   3.000000
mean   27.250000  69.333333
std    10.996211  49.652123
min    11.000000  12.000000
25%    25.250000  55.000000
50%    32.000000  98.000000
75%    34.000000  98.000000
max    34.000000  98.000000

In [57]:
#operadores básicos
print(frame.sum())
display(frame)
print(frame.sum(axis=1, numeric_only=True))

nombre    MarisaLauraManuelCarlos
edad                          109
puntos                      208.0
genero                       FFMM
dtype: object

   nombre  edad  puntos genero
0  Marisa    34    98.0      F
1   Laura    34    12.0      F
2  Manuel    11    98.0      M
3  Carlos    30     NaN      M

0    132.0
1     46.0
2    109.0
3     30.0
dtype: float64

In [58]:
frame.mean(numeric_only=True)

edad      27.250000
puntos    69.333333
dtype: float64

In [59]:
frame.cumsum()

                    nombre  edad  puntos genero
0                   Marisa    34    98.0      F
1              MarisaLaura    68   110.0     FF
2        MarisaLauraManuel    79   208.0    FFM
3  MarisaLauraManuelCarlos   109     NaN   FFMM

In [61]:
frame.count(axis=1)

0    4
1    4
2    4
3    3
dtype: int64

In [62]:
print(frame['edad'].std())

10.996211468804457

In [63]:
frame['edad'].idxmax()

0

In [64]:
frame['puntos'].idxmin()

1

In [66]:
# frame con las filas con los valores maximos de una columna
print(frame['puntos'].max())
display(frame[frame['puntos'] == frame['puntos'].max()])

98.0

   nombre  edad  puntos genero
0  Marisa    34    98.0      F
2  Manuel    11    98.0      M

In [68]:
frame["ranking"] = frame["puntos"].rank(method='max')

In [69]:
display(frame)

   nombre  edad  puntos genero  ranking
0  Marisa    34    98.0      F      3.0
1   Laura    34    12.0      F      1.0
2  Manuel    11    98.0      M      3.0
3  Carlos    30     NaN      M      NaN

### Agregaciones

In [70]:
display(frame)
df = frame.groupby('genero').count()
display(df)

   nombre  edad  puntos genero  ranking
0  Marisa    34    98.0      F      3.0
1   Laura    34    12.0      F      1.0
2  Manuel    11    98.0      M      3.0
3  Carlos    30     NaN      M      NaN

        nombre  edad  puntos  ranking
genero
F            2     2       2        2
M            2     2       1        1

In [71]:
# si es Nan descarta la fila
df = frame.groupby('puntos').count()
display(df)

        nombre  edad  genero  ranking
puntos
12.0         1     1       1        1
98.0         2     2       2        2

In [72]:
display(frame.groupby('genero').mean(numeric_only=True))

        edad  puntos  ranking
genero
F       34.0    55.0      2.0
M       20.5    98.0      3.0

In [73]:
display(frame.groupby('genero').max())

        nombre  edad  puntos  ranking
genero
F       Marisa    34    98.0      3.0
M       Manuel    30    98.0      3.0

# funciones de agregación de varias columnas para obtener distintos estadísticos
display(frame.groupby('genero')[['edad', 'puntos']].aggregate(['min', 'mean', 'max']))

In [75]:
# Filtrado de los datos en el que el conjunto no supera una media determinada 
def media(x):
    return x["edad"].mean() > 30
display(frame)
frame.groupby('genero').filter(media)

   nombre  edad  puntos genero  ranking
0  Marisa    34    98.0      F      3.0
1   Laura    34    12.0      F      1.0
2  Manuel    11    98.0      M      3.0
3  Carlos    30     NaN      M      NaN

   nombre  edad  puntos genero  ranking
0  Marisa    34    98.0      F      3.0
1   Laura    34    12.0      F      1.0

### Correlaciones

pandas incluye métodos para analizar correlaciones

* Relación matemática entre dos variables (-1 negativamente relacionadas, 1
* positivamente relacionadas, 0 sin relación)
* obj.corr(obj2) --> medida de correlación entre los datos de ambos objetos
* https://blogs.oracle.com/ai-and-datascience/post/introduction-to-correlation

### Ejemplo Fuel efficiency

* https://archive.ics.uci.edu/ml/datasets/Auto+MPG

In [77]:
import pandas as pd
path = 'http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-m'
mpg_data = pd.read_csv(path, sep='\s+', header=None,
            names = ['mpg', 'cilindros', 'desplazamiento','potencia',
            'peso', 'aceleracion', 'año', 'origen', 'nombre'],
            na_values='?', engine='c')

HTTPError: HTTP Error 404: Not Found

In [ ]:
display(mpg_data.sample(5))

In [ ]:
display(mpg_data.describe(include='all'))

In [ ]:
mpg_data.info()

### Correlaciones entre valores

In [ ]:
mpg_data['mpg'].corr(mpg_data['peso']) # + mpg = - peso

In [ ]:
mpg_data['peso'].corr(mpg_data['aceleracion']) # + peso = - aceleracion

### Correlaciones entre todos los valores

In [ ]:
mpg_data.corr(numeric_only=True)

In [ ]:
#año y origen no parecen correlacionables
#eliminar columnas de la correlacion
corr_data = mpg_data.drop(['año','origen'],axis=1).corr(numeric_only=True)
display(corr_data)

In [ ]:
#representación gráfica matplotlib
import matplotlib.pyplot as plt

In [ ]:
# representación gráfica
corr_data.style.background_gradient(cmap=plt.get_cmap('RdYlGn'), axis=1)

In [ ]:
# correlación más negativa
mpg_data.drop(['año','origen'],axis=1).corr(numeric_only=True).idxmin()

In [ ]:
# correlación más positiva
mpg_data.drop(['año','origen'],axis=1).corr(numeric_only=True).idxmax()

In [ ]:
# tabla similar con las correlaciones más positivas (evitar parejas del mismo va
positive_corr = mpg_data.drop(['año','origen'],axis=1).corr(numeric_only=True)
np.fill_diagonal(positive_corr.values, 0)
display(positive_corr)
positive_corr.idxmax()

Repositorio de git hub: https://github.com/tiven29/Python-2026/blob/main/Untitled.ipynb